*
!.gitignore
!LICENSE.md
!go.mod
!go.sum
!.vscode
!.vscode/*
!hello
!hello/*
!greeting
!greeting/*
!integers
!integers/*
!iteration
!iteration/*
!arrays_and_slices
!arrays_and_slices/*
!structs_methods_interfaces
!structs_methods_interfaces/*
!pointers_errors
!pointers_errors/*
!maps
!maps/*
!dependency_injection
!dependency_injection/*
!mocking
!mocking/*
!concurrency
!concurrency/*
!select
!select/*
!reflection
!reflection/*
!sync
!sync/*
!context
!context/*
!property-based-testing
!property-based-testing/*
!maths/
!maths/*
!math/clockface/
!math/clockface/*
!math/svg/
!math/svg/*
!reading-files/
!reading-files/*
!templating/
!templating/*
!templating/templates/
!templating/templates/*
!generics/
!generics/*
!generic-with-slices/
!generic-with-slices/*
!http-server/
!http-server/*